header{
    position: absolute;
    margin-left: 60rem;
    margin-top: 10rem;
}
ul.nav_hr{
    margin: 0px;
    padding: 0px;
}

ul.nav_hr li{
    display: inline;
    padding: 2rem;
    margin-right: 6rem;
}
a{
    text-decoration: none;
    text-transform: none;
}

a:hover {
    color: #750909;
    text-decoration: underline;
   }

.c_black, nav li a{
    background-color: #000000;
    color: rgb(221, 221, 221);
}

body{
    margin: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}