header{
    position: absolute;
    margin-left: 60rem;
    margin-top: 10rem;
}
ul.nav_hr{
    margin: 0px;
    padding: 0px;
}

ul.nav_hr li{
    display: inline;
    padding: 2rem;
    margin-right: 6rem;
}
a{
    text-decoration: none;
    text-transform: none;
}

a:hover {
    color: #750909;
    text-decoration: underline;
}

.c_black, nav li a{
    background-color: #000000;
    color: rgb(221, 221, 221);
}
.compet {
    display: flex;
    justify-content: space-evenly;
  }
.item {
    width: 8%;
    margin-right: 20px;
    text-align: center;
  }
  
.item img {
    display: block;
    max-width: 100%
}

.center_h{
    text-align: center;
}

.last_block{
    text-align: center;
    font-weight: 500;
    margin:0px;
    padding:20px;
    max-width:100%;
}
.last_block button{
    padding: 10px 32px;
    font-size: 18px;
    border-radius: 8px;
}
.first_block{
    display: flex;
}
.left_h{
    margin-left: 1rem;
}
.first_block p{
    text-align: left;
    max-width: 50%;
    margin-left: 1rem;
}
.first_block img{
    margin-left: 5rem;
    width: 35%;
}
.block_usl{
    display: flex;
    justify-content: space-evenly;
}

footer p{
    display: inline;
    margin-left: 50%;
}
body{
    margin: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}